<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>sample</string>
	<key>libraryID</key>
	<string>05F7CFF2-4FC4-4886-86D2-4AD4F02F83EE</string>
</dict>
</plist>
